/* Valores generales */
* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

/* Valores predeterminados */
:root {
    --primary-harry: #215e99;
    --primary-hermaione: #EC552F;
    --primary-luna: #FBEFEC;
    --primary-hagrid: #000000;
    --secondary-dobby: #FFFFFF;
    --secondary-ron: #FFF7ED;
    --secondary-severus: #7F8E9D;
    --secondary-voldemort: #C7CAD9;
    --green: #4da484;
    --bg-icons: #f4f3f8;
    --trs-time: all .3s ease-in-out;
    --font-family: 'Mulish', sans-serif;
}

/* Solo etiquetas */
body[font-family="Nunito"] {
    --font-family: 'Nunito', sans-serif;
}

body[font-family="Mulish"] {
    --font-family: 'Mulish', sans-serif;
}

form {
    margin-top: 2rem;
}


p {
    display: block;
    font-weight: 600;
}

a {
    display: block;
    text-decoration: none;
}


button {
    display: block;
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: var(--secondary-dobby);
    cursor: pointer;
    font-weight: 600;
    height: 52px;
}


/* Estilos de cambio de fuente */
.font-change {
    position: fixed;
    z-index: 17;
    height: 100%;
    top: 0;
}

.font-change .change {
    position: absolute;
    cursor: pointer;
    background: #003cfffd;
    border-radius: 0 10px 10px 0;
    padding: 10px 10px 10px 20px;
    color: var(--secondary-dobby);
    bottom: 30px;
    box-shadow: 0 0 15px #00000026;
    transition: var(--trs-time);
    font-weight: 600;
}

.font-change .change:nth-child(2) {
    bottom: 80px;
}

.font-change .change:hover {
    transform: translateX(-5px);
}

/* Layaout */
.container {
    padding: 0 10%;
}

.row {
    display: flex;
    flex-grow: 1;
}

.col {
    width: 100%;
    height: 100vh;
}

.col:nth-child(1) {
    background: var(--primary-luna);
    min-width: 50.5vw;
}

/* Texto Gestiona tus seguidores - Desktop */
.text-gestiona {
    max-width: 460px;
    margin-top: 48px;
    position: relative;
    font-size: 39px;
    font-weight: 700;
    line-height: 46.8px;
}

/* Utilidades */
.p-3 {
    padding: 0 4rem;
}
.left-section {
    padding: 4rem 0 0 4rem;
}

.p-3:nth-child(1) {
    padding: 4rem;
}

.pointer {
    cursor: pointer;
}

.btn-hermaione {
    border: 1px solid var(--primary-hermaione);
    color: var(--primary-hermaione);
    background: #0000;
}

.btn-harry {
    border: 1px solid var(--primary-harry);
    color: var(--primary-harry);
    background: #0000;
}

.btn-voldemort {
    border: 1px solid var(--secondary-voldemort);
    background: #0000;
}

.back {
    width: 20px;
    cursor: pointer;
}

.mx-auto {
    margin: 0 auto;
}

.text-hermaione {
    color: var(--primary-hermaione);
}

.text-harry {
    color: var(--primary-harry);
}

.bg-harry {
    background: var(--primary-harry);
}

.bg-hermaione {
    background: var(--primary-hermaione);
}

.bg-luna {
    background: var(--primary-luna);
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.bottom-line {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.last-a {
    margin: 1rem 0;
}

.font-bold {
    font-weight: 600;
}


.hidden {
    display: none;
}

.mobile {
    display: none;
}

.block {
    display: none;
}

.top-line {
    position: absolute;
    top: 17px;
    left: 44%;
    background: #C8C8C8;
    width: 62px;
    height: 4px;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.ml-4 {
    margin-left: 4.5rem;
}


/* Vector sol */
.sol {
    position: absolute;
    bottom: -58px;
    right: 74px;
}

/* Desktop */
.card-main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.card {
    max-width: 374px;
    min-width: 374px;
    margin: auto;
    position: relative;
}

.card-register {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--secondary-dobby);
    transition: var(--trs-time);
    z-index: 20;
}

.expand-register {
    height: 100%;
}

.welcome {
    margin-bottom: 33px;
    font-weight: 800;
}

.font-800 {
    font-weight: 800;
}

.welcome p {
    margin-top: 14px;
}

.senha {
    margin-top: 13px;
}

.btn-submit {
    margin-top: 25px;
}
.mt-o-accounts {
    margin-top: 40px;
}
/* Mobile */
.card-mobile {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 12;
    top: 0;
    left: 0;
    background: var(--primary-luna);
    transition: var(--trs-time);
    display: none;
}

.mobile-logo {
    padding: 1.3rem 0 4rem 0;
}

.be-positive-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.card-login-mobile {
    display: none;
}

.card-register-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background: var(--secondary-dobby);
    z-index: 10;
}


/* Registrarse o iniciar con otras cuentas - Desktop */
.socials {
    margin: 0 auto;
    max-width: 240px;
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.icon {
    background: var(--bg-icons);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Registrarse o iniciar con otras cuentas - Mobile*/
.accounts .account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts .account img {
    margin-right: .3rem;
}

.accounts-others {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000069;
    z-index: 25;
    display: none;
}

.content-accounts-others {
    position: absolute;
    bottom: -1000px;
    background: var(--secondary-dobby);
    width: 100%;
    padding: 2rem;
    border-radius: 50px 50px 0 0;
    box-sizing: border-box;
    transition: var(--trs-time);
}

/* Ícono ojo  */
.icon-view {
    position: absolute;
    right: 12px;
    top: 44px;
    cursor: pointer;
}

/* Inputs */
.input {
    position: relative;
}

.input input {
    border-radius: 5px;
    border: 1px solid var(--secondary-voldemort);
    color: var(--secondary-severus);
    padding: 15px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    /* font-size: 14px; */
}

.input p {
    margin: .8rem 0;
    font-size: 14px;
}

/* Animaciones */
.fade {
    animation: .3s fade ease-in-out;
}

@keyframes fade {
    from {
        transform: translateY(-5px);
    }
}

/* Aceptar términos y condiciones */
.termins {
    position: relative;
    margin-top: 24px;
}

.termins input {
    display: none;
}

.termins label {
    display: flex;
    align-items: center;
}

.termins .checkmark {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--secondary-voldemort);
    border-radius: 5px;
    transition: var(--trs-time);
}

.termins .text {
    margin-left: 1.7rem;
    font-size: 14px;
}

input:checked~label .checkmark {
    background: var(--primary-hermaione);
    border-color: var(--primary-hermaione);
}

/* Alerta - Desktop */
.alert {
    padding: .6rem;
    text-align: center;
    position: fixed;
    z-index: 13;
    top: -100px;
    left: 0;
    width: 100%;
    transition: var(--trs-time);
    background: var(--green);
    color: var(--secondary-dobby);
    display: none;
}
.top-0 {
    top: 0;
    display: block;
}


.mobile-main {
    display: none;
}

.desktop-main {
    display: block;
}

/* Responsive */
@media (max-width: 1034px) {

    body {
        background: var(--primary-luna);
    }

    .card-main {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    
    .card {
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;
    }

    .desktop-main {
        display: none;
    }

    .mobile-main {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        margin: 0 auto;
    }

    .alert {
        padding: 1rem 0;
        text-align: center;
        position: fixed;
        z-index: 13;
        top: 1000px;
        left: 0;
        width: 100%;
        transition: var(--trs-time);
        color: var(--secondary-dobby);
        border-radius: 50px 50px 0 0;
    }

    .top-605 {
        top: 605px;
        display: block;
    }

    .mt-login {
        margin-top: 29px;
    }

    .col:nth-child(1) {
        display: none;
    }

    .card-login-mobile {
        display: none;
    }

    .card-register-mobile {
        display: none;
        position: absolute;
        z-index: 15;
        /* top: -303px; */
        max-width: 374px;
    }

    .welcome-mobile p {
        margin-bottom: 13px;
    }
    .welcome-mobile h2 {
        margin-bottom: 13px;
        font-size: 20px;
    }

    .bottom-line {
        display: block;
        max-width: 134px;
        height: 5px;
        border-radius: 100px;
        background: var(--primary-harry);
        margin: 2rem auto 1rem auto;
    }

    .bottom-0 {
        bottom: 0;
    }

    .card-mobile {
        display: block;
    }

    /* Mobile */
    .new-user-desktop {
        display: none;
    }

    .new-user-mobile {
        display: block;
    }

    .p-3 {
        padding: 0 2rem;
    }

    .p-3:nth-child(1) {
        padding: 0 1rem;
    }

    .last-a {
        margin-top: 14px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .block {
        display: block;
    }

    .content-register {
        padding-bottom: 0;
    }
    button {
        margin-bottom: 14px;
    }
    .back {
        margin-top: 10px;
    }

}

@media (max-width: 390px) {
    /* h1,
    h2 {
        font-size: 1.2rem;
    } */
    .card-mobile {
        /* padding: 2rem; */
    }
    .card {
        max-width: 300px;
        width: 200px;
        margin: auto;
    }
}